.warning{
    position:fixed;
    margin-top:190px;
    color:red;
    font-weight:bold;
    height:120px;
    right:0;
    border: none;
    border-radius: 0 0 0 15px;
    width: 210px;
    z-index:10;
    background-color: rgba(255,0,0,0.4);
    cursor: pointer;
}
.warning_font{
    position: absolute;
    margin-left: 25%;
    margin-top: 3.5%;
    vertical-align:middle;
}
.picture2{
    position: absolute;
    margin-left: 8%;
    margin-top: 1.6%;
}
.el-dialog__title{
    vertical-align:middle;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.el-dialog{
    background-color: rgba(0,0,0,0.55);
    border-radius: 10px;
    box-shadow:4px 5px 6px 7px rgba(0,0,0,.5)
}
.el-dialog__body{
    padding-left:20px;
    padding-top: 0;
    padding-bottom: 10px;
}
.v-modal{
    z-index: -1000!important;
}
